<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
        <beans>
        
        <bean id ="studentProperty" class="com.entity.ExampleStudent">
  <!-- Setting values using property 'stud_id' with a value of 3 -->
        
        <property name="id" value="1"></property>
        <property name="name" value ="ram"></property>
        
        
        </bean>
        <bean id ="studentConstructor" class="com.entity.ExampleStudent">
        
        <constructor-arg index="0" value="2"></constructor-arg>
        <constructor-arg index="1" value="om"></constructor-arg>
        
        
        
        
        </bean>
        
        
        </beans>